/*  your css code here. If applicable */
body{
	background-color: #cccccc;
}
.player-one{
	background-color:white;
}
 h3{
	text-align:center;
}

.player-one a{
	text-decoration: none;
	color: #cccccc;
	background-color:white;
}
.player-two {
	text-align:center;
	background-color:white;
}
.player-three {
	text-align:center;
	background-color:white;
	margin:0px;
}
.