/*  your css code here. If applicable */
body{
	background-color: #cccccc;
}
.player-one{
	background-color:white;
}
 h3{
	text-align:center;
}

.player-one a{
	text-decoration: none;
	color: #cccccc;
	background-color:white;
}
.player-two {
	text-align:center;
	background-color:white;
	width: 64%;
     margin: 0px 100px
}
.player-three {
    gap:0px;
	text-align:end;
	text-align:center;
	background-color:white;
	margin-top:0px;
}

.player-three p{
	text-align:start;
	color:#cccccc
}
.player-three audio{
	width:100%;
}